/* PAGE */
*{
    margin: 0;
}

img{
    display: block;
}

html{
    font-size: 63.5%;
}

ul{
    list-style-type: none;
    padding: 0;
}

h1,
li a,
h2,
button{
    font-family: 'Nova Flat', sans-serif;
}

li a{
    text-decoration: none;
    font-size: 2rem;
}

header li a,
h1,
h2,
button{
    color: #186684;
}

button{
    background-color: transparent;
    border: 2px solid #E85B26;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.9rem;
}

/* HEADER */

header{
    background-image: url(../images/image-1@2x.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1{
    font-weight: 300;
    font-size: 12rem;
    padding: 10px;
    background-color: #E3E4EA;
    opacity: 89%;
    width: 30%;
    position: absolute;
    left: 42%;
    top: 36%;
}

.navbar li{
    display: inline-block;
    padding: 1% 1%;
}

.navbar{
      text-align: center;
}

i,
header li:first-child a{
    color: #E85B26;
}

/* MAIN SECTION */
.half-page img,
.info{
    width: 50%;
}

.info,
.half-page img{
    float: left;
}

/* COMMUNITY SECTION */
.community{
    background-image: url(../images/image-5@2x.png);
}

.community li a{
    font-family: 'Catamaran', sans-serif;
}

/* FOOTER */
footer button{
    background-color: #186684;
    color: #F4F4F4;
}

